/* Основные стили */
body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

/* Контейнер для основной структуры */
.container {
    display: flex;
    flex-wrap: nowrap;
}

/* Область для наведения */
.sidebar-hover-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px; /* Узкая зона, чтобы поймать наведение */
    height: 100vh;
    z-index: 1;
}

/* Боковая панель навигации */
.sidebar {
    background-color: #ffffff;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border-right: 2px solid #e0e0e0;
    position: fixed;
    left: -160px; /* Скрыто за экраном */
    top: 0;
    transition: left 0.5s ease; /* Плавное выдвижение */
    z-index: 2;
}

.sidebar-hover-area:hover ~ .sidebar, /* Появление sidebar при наведении */
.sidebar:hover {
    left: 0; /* Показываем sidebar */
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 2px solid #e0e0e0;
        left: -100%; /* Скрываем sidebar */
    }

    .sidebar-hover-area:hover ~ .sidebar, /* Для мобильных устройств */
    .sidebar:hover {
        left: 0;
    }

    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .social-links {
        flex-direction: row;
        justify-content: center;
    }
}

/* Логотип */
.logo {
    font-size: 24px;
    color: black;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.6s ease;
}

.logo:hover {
    transform: rotateX(180deg);  /* Вращение и увеличение при наведении */
}

@media (max-width: 768px) {
    .logo {
        writing-mode: horizontal-tb;
        text-orientation: initial;
        margin-bottom: 0;
    }
}

/* Список навигации */
.sidebar ul {
    list-style: none;
    padding: 0;
}

/* Ссылки в навигации */
.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    display: block;
    padding: 10px;
    transition: background-color 0.1s;
    border-radius: 15px;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 15px;
}

/* Социальные ссылки */
.social-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    color: #000000;
    margin: 10px 0;
    font-size: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.3); /* Увеличение размера */
    color: #B07AD2; /* Изменение цвета */
}

/* Стили для активной ссылки */
.sidebar ul li a.active {
    background-color: #f0f0f0;
    border-radius: 15px;
}

/* Герой секция */
.hero {
    position: relative;
    background-color: #B07AD2;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.hero .team {
    position: absolute;
    top: 50%;
    left: 40%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Изображение заполняет контейнер, сохраняя пропорции */
    border: 1px solid #000000;
    border-radius: 15px;
}

.hero .founder-text {
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
    padding: 10px; /* Отступы вокруг текста */
    text-align: start; /* Выравнивание текста */
    position: absolute; /* Абсолютное позиционирование */
    top: 40%; /* Регулируйте значение для перемещения вниз */
    left: 60%; /* Регулируйте значение для перемещения вправо */
    background-color: #f9f9f9; /* Фоновый цвет для лучшего контраста */
    border: 1px solid #000000;
    max-width: 330px; /* Максимальная ширина блока текста */
    word-wrap: break-word; /* Перенос слов, если они выходят за пределы блока */
    border-radius: 15px;
}

.hero-content {
    position: relative;
    max-width: 650px; /* Ограничение ширины текста */
    padding: 20px;
    left: 5%; /* Регулируйте значение для перемещения вправо */
    background-color: rgba(255, 255, 255, 1); /* Полупрозрачный белый фон для лучшей читаемости */
    border: 1px solid #000000;
    text-align: left;
    border-radius: 15px;
}


@media (max-width: 768px) {
    .hero {
        height: auto;
        padding: 20px;
    }
}

/* Кнопка вызова действия */
.cta {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    .cta {
        position: relative;
        bottom: auto;
        right: auto;
        text-align: center;
        margin-top: 20px;
    }
}

.cta-button {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    border: 2px solid #000000;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 15px;
    transition: background-color 0.5s, color 0.5s;
}

.cta-button:hover {
    background-color: #f0f0f0;
    color: #000000;
}

/* Стили для секций */
section {
    padding: 50px;
    
}

@media (max-width: 768px) {
    section {
        padding: 20px;
    }
}
